@model IEnumerable<WheelDeal.Models.Make>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<div class="row mb-4">
	<div class="col-6">
		<h2 class="text-info mt-3">Makes of Vehicle</h2>
	</div>
	<div class="col-6 d-flex justify-content-end mt-3 mb-2">
		<a class="btn btn-info" asp-action="Create">Add New Make</a>
	</div>
	<br />
	<div>
		<table class="table table-striped border">
			<tr class="table-info">
				<th>
					@Html.DisplayNameFor(m => m.Name)
				</th>
				<th></th>
			</tr>
			@foreach(var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(m => item.Name)
					</td>
					<a type="button" class="btn btn-primary" href="@Url.Action("Edit/" + (item.Id))";
				</tr>
			}
		</table>
	</div>
</div>
