@model IEnumerable<WheelDeal.Models.Make>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="row mb-4">
    <!-- Heading and Add Button Row -->
    <div class="col-6 mt-0">
        <h2 class="text-info">Makes of Vehicle</h2>
    </div>
    <div class="col-6 d-flex justify-content-end mb-2">
        <a class="btn btn-info" asp-action="Create">
            <i class="fa-solid fa-motorcycle"></i> &nbsp; Add New Make
        </a>
    </div>
</div>

<!-- Table Section -->
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th class="col-12">
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td class="text-end">
                    <partial name="_TableButtonsPartial" model="item.Id"></partial>
                </td>
            </tr>
        }
    </table>
</div>
